{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

{% if user.is_authenticated %}
   <p style="color: #82caff"><Strong> Hello {{ user.username }}</Strong></p>
{% else %}
  <p style="font-family: 'Enriqueta', serif; color: #82caff"><strong> Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign up</a>To Rate/Post a Project</strong></p>
{% endif %}
    <h1 style="text-align: center; font-family: 'Enriqueta', serif; font-size: 40px;"><strong>Welcome to Awardsdw</strong> </h1>
        
      
      <div class="w3-container w3-center" >
          <div class="w3-row w3-center">
        {% for project in projects %}
        
        <div class="w3-col l3  w3-card-4 w3-round w3-margin " style="min-height:300px; font-family: 'Enriqueta', serif; ">
          <img class="w3-image w3-hover-opacity" src="{{project.projo_pic.url}}" alt="Card image">
          <div class="w3-container w3-transparent">
            <h4 class="w3-center">{{project.title}}</h4>
            <p class="w3-center"><a href="{{project.link}}">{{project.link}}</a></p>
            <div class="w3-center" ><a href="#" class="w3-button w3-margin-bottom w3-blue">RATE</a></div>
           
          </div>
        </div>
      
      {% endfor %}
    </div>
      </div>
      

         
{% endblock %}


<!-- <div class="row" style="margin-top:100px;">
   
       
 </div> -->
