{% extends 'base.html' %}
{% load static %}
{% load ratings %}

<html>

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>



        
<div class="w3-col l3  w3-card-4 w3-round w3-margin " style="min-height:300px; font-family: 'Enriqueta', serif; ">
  <img class="w3-image w3-hover-opacity" src="{{project.projo_pic.url}}" alt="Card image">
  <div class="w3-container w3-transparent">
    <h4 class="w3-center">{{projects.title}}</h4>
    <p class="w3-center"><a href="{{project.link}}">{{projects.link}}</a></p>
    <div class="w3-center" ><a href="{% url 'rating' project_id=project.id %}" class="w3-button w3-margin-bottom w3-blue">RATE</a></div>
    
   
  </div>
</div>


{% ratings project %}


</html>